 <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Account profile</h1>
        <div class="container">
            <div class="row justify-content-md-center">
            <div class="col-12 col-lg-6 contact-box text-center text-md-left wow slideInRight" data-wow-delay=".8s">
                <div class="c-box wow fadeInRight product-listing-products">
                <!--<p class="small-text">Lorem ipsum is simply dummy text of the printing and typesetting industry. </p>-->
                <form action="/account-profile" onsubmit="return validateForm()" enctype="multipart/form-data" method="POST">
                    <div class="d-flex justify-content-center mb-4">
                    <img src={{admin.avatar}} id="myImg" alt="Avatar" class="avatar">
                    </div>
                    <div class="d-flex justify-content-center mb-4">
                    <label for="file" <button type="file" name="avatar" class="btn btn-info">Upload new avatar</button> </label>
                    <input type="file" id="file" name="avatar" value="Prebrskaj" hidden>      
                    </div>
                    <div class="justify-content-center mb-4" id="notifUploadSuccess" hidden>
                    <p class="text-success">Upload successfully, filename: </p>     
                    </div>
                    <div class="contact-form" id="contact-form-data">
                    <div class="row my-form">
                        <div class="col-12">
                        <input type="text" class="form-control" id="username" name="username" value='Username: {{admin.username}}' disabled>
                        </div>
                        <br><br>
                        <div class="col-12">
                        <input type="text" class="form-control" id="level" name="level" value='Level: {{admin.level}}' disabled>
                        </div>
                        <br><br>
                        <div class="col-12">
                        <input type="email" class="form-control" id="email" name="email" value='Email: {{admin.email}}' disabled>
                        </div>
                        <br><br>
                        <div class="col-12 col-md-6">
                        <input type="text" class="form-control" id="candidate_fname" name="firstName" placeholder="First Name"
                            required="required" value="{{admin.firstName}}">
                        </div>
                        <br><br>
                        <div class="col-12 col-md-6">
                        <input type="text" class="form-control" id="candidate_lname" name="lastName" placeholder="Last Name"
                            required="required" value="{{admin.lastName}}">
                        </div>
                        <br><br>
                        <div class="col-12">
                        <textarea class="form-control" id="user_message" name="more" placeholder="Message" rows="7"
                            required="required">{{admin.more}}</textarea>
                        </div>
                        <div class="col-12" id="errExtension" hidden>
                        <p class="text-danger">Avatar just allow file type .jpg, .jpeg, .png</p>
                        </div>
                        <div class="col-12" id="errSize" hidden>
                        <p class="text-danger">Your avatar file should be smaller than 2MB</p>
                        </div>
                        <div class="col-12">
                            <br>
                            <input class="btn btn-success user-contact contact_btn" type="submit"></input>
                        </div>
                    </div>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="js/validChangeProfile.js"></script>