<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Carts</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col-sm-11">
          <h6 class="m-0 font-weight-bold text-primary">{{typeOfCarts}}</h6>
        </div>
      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="booksTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th width="20%">ID</th>
                <th width="15%">Order Date</th>
                {{#if finished}}
                <th width="15%">Finished Date</th>
                {{/if}}
                <th width="30%">Address</th>
                <th width="15%">Total Price</th>
                <th width="5%">Detail</th>
                {{#if delivering}}
                <th></th>
                {{/if}}
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th width="20%">ID</th>
                <th width="15%">Order Date</th>
                {{#if finished}}
                <th width="15%">Finished Date</th>
                {{/if}}
                <th width="30%">Address</th>
                <th width="15%">Total Price</th>
                <th width="5%">Detail</th>
                {{#if delivering}}
                <th></th>
                {{/if}}
              </tr>
            </tfoot>
            <tbody id="bodyBooksTable">
              {{#each carts}}
              <tr>
                <td width="20%">{{_id}}</td>
                <td width="15%">{{orderDate}}</td>
                {{#if finishedDate}}
                <td width="15%">{{finishedDate}}</td>
                {{/if}}
                <td width="30%">{{fullAddress}}</td>
                <td width="15%">{{total}}</td>
                <td width="5%">
                  <button onclick="detailOfCart()" type="button" class="btn btn-link">Detail</button>
                  <script>
                    const detailOfCart = () => {
                      let url = "detail?id=" + "{{_id}}"
                      window.open(url);
                    }
                  </script>
                </td>
                {{#if orderDate}}
                {{#if finishedDate}}
                {{else}}
                <td width="10%">
                  <form action="/carts/finish-cart" method="POST" id="finishCartForm">
                    <input type="text" value="{{_id}}" name="id" hidden>
                    <button type="submit" class="btn btn-success">Finish</button>
                  </form>

                </td>
                {{/if}}
                {{/if}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->